////Item ne
<!-- <% QuanAo.forEach(function (i){%> -->
<!-- <div class="item">
  <div class="product">
    <div class="flip-container">
      <div class="flipper">
        <div class="front"><a href="/detail"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
        <div class="back"><a href="/detail"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
      </div>
    </div><a href="/detail" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
    <div class="text">
      <h3><a href="/detail"><%= i.TenQuanAo%></a></h3>
      <p class="price">
        <del><%= i.Gia%></del><%= i.Gia%>
      </p>
    </div> -->
    <!-- /.text-->
    <!-- <div class="ribbon sale">
      <div class="theribbon"><%= i.GiamGia%></div>
      <div class="ribbon-background"></div>
    </div> -->
    <!-- /.ribbon-->
    <!-- <div class="ribbon new">
      <div class="theribbon">NEW</div>
      <div class="ribbon-background"></div>
    </div> -->
    <!-- /.ribbon-->
    <!-- <div class="ribbon gift">
      <div class="theribbon">GIFT</div>
      <div class="ribbon-background"></div>
    </div> -->
    <!-- /.ribbon-->
  <!-- </div> -->
  <!-- /.product-->
<!-- </div>//////// -->
<!-- <%}) %> -->
<!-- /.product-slider-->
